
<div class="grid-x grid-margin-x">
  <div class="cell large-12">
  <div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Сайт с книжечками и канцтоварами</li>
      <li><a href="<%=all_path  %>">Главная</a></li>
      <li><a href="<%= all_books_path %>">Книжечки</a></li>
      <li><a href="<%= all_stationery_path %>">Канцтовары</a></li>
       <li><a href="<%=all_lists_path  %>">Списки покупок</a></li>
    </ul>
  </div>
</div>
    <h3>Список книг</h3>
  <div class="large-12 cell">
    <% form({ method: :get }, { obj: @params }) do |f| %>
      <div class="grid-x grid-padding-x">
        <% if @params.failure? %>
          <div class="large-12 cell callout warning">
            <p>
              Параметры фильтра введены неверно, данные не были отфильтрованы
            </p>
          </div>
        <% end %>
        <div class="large-6 cell">
          <%= f.input(:genre, type: :text, placeholder: 'Детектив', label: 'Жанр') %>
        </div>
        <div class="large-6 cell">
          <%= f.input(:title, type: :text, placeholder: 'Пуаро', label: 'Название') %>
        </div>
        <div class="large-12 cell">
          <%= f.button(value: 'Фильтровать', class: 'button') %>
           <a href="<%= book_new_path %>" class="button">
      Добавить
    </a>
        </div>
      </div>
    <% end %>
  </div>
  </div>
  <% if @books.size == 0 %>
    <div class="cell large-12 callout warning">
      В приложении нет информации о книгах
    </div>
  <% else%>
    <% @books.each do |book| %>
    <% if book.number!=0 %>
      <div class="card cell large-4">
        <div class="card-divider">
          <%= book.title %>
        </div>
        <div class="card-section">
          <p><%= book.author %></p>
           <p><%= book.price %></p>
          <p>
            <a class="button" href="<%= path(book) %>">Информация о книге</a>
          <p>
        </div>
      </div>
    <% end %>  
    <% end %> 
  <% end %>
</div>
