<div class="grid-x grid-margin-x">
  <div class="cell large-12">
  <div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Сайт с книжечками и канцтоварами</li>
      <li><a href="<%=all_path  %>">Главная</a></li>
      <li><a href="<%= all_books_path %>">Книжечки</a></li>
      <li><a href="<%= all_stationery_path %>">Канцтовары</a></li>
       <li><a href="<%=all_lists_path  %>">Списки покупок</a></li>
    </ul>
  </div>
</div>
<div class="grid-x grid-padding-x">
 <h3>Списки покупок</h3>
 <h4>Здесь вы можете создавать списки покупок, чтобы добавлять в них товары, а затем оформлять заказ.</h4>
        <div class="large-12 cell">
           <a href="<%= list_new_path %>" class="button">   
      Добавить
    </a>
        </div> 
      </div>
      <div class="cell auto"> 
<ol> 
<% @lists.each do |list| %> 
<% if  list!=nil%> 
<li> <%= list.name %>: <a href="<%= path(list) %>">просмотреть все покупки( <%= list.all_products.size %> ) </a></li> 
<% end %> 
<% end %> 


</ol> 
</div>
</div>  